fastapi
uvicorn
python-multipart

torch
torchvision
torchaudio

transformers
accelerate
timm

opencv-python
pillow
numpy

moviepy

facenet-pytorch

scikit-learn
matplotlib

einops

huggingface_hub
safetensors