fastapi
uvicorn
python-multipart

torch
torchvision
torchaudio

transformers
accelerate
timm

opencv-python
pillow
numpy

moviepy

facenet-pytorch

scikit-learn
matplotlib

einops

huggingface_hub
safetensors


#for version 2
imutils
scikit-image
loralib 
efficientnet_pytorch   
tensorboard     

training.config.default
albumentations